.blog {
    min-height: 150px;
    margin-top: 150px;
    padding: 60px;
    background-color: $section-color-black;
    &::before {
        content: '';
        width: 100%;
        height: 23%;
        position: absolute;
        top: -50px;
        left: 0;
        background: linear-gradient(2deg,$section-color-black 49%,$section-color-black-before 50%);
    }
    &::after {
        content: '';
        width: 100%;
        height: 23%;
        position: absolute;
        bottom: -50px;
        left: 0;
        background: linear-gradient(2deg,$section-color-black-before 49%,$section-color-black 50%);
    }
    &__title {
        width: 100%;
        font-family: 'Facon regular';
        font-size: 80px;
        color: $main-color;
        text-align: center;
        text-shadow: 2px 2px 50px #000000, -2px -2px 50px #000000;
    }
    &_white {
        background-color: $section-color-white;
        &:before {
            content: '';
            width: 100%;
            height: 23%;
            position: absolute;
            top: -50px;
            left: 0;
            background: linear-gradient(2deg,$section-color-white 49%,$section-color-white-before 50%);
        }
        &::after {
            content: '';
            width: 100%;
            height: 23%;
            position: absolute;
            bottom: -50px;
            left: 0;
            background: linear-gradient(2deg,$section-color-white-before 49%,$section-color-white 50%);
        }
    }
    &__main {
        min-height: 600px;
        padding: 100px 0;
        .col-xl-9 {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        .col-xl-3 {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
        }
    }
}
.card {
    margin: 15px;
    border-radius: 5px;
    background-color: $section-color-black;
    &:hover {
        border: 1px solid $main-color;
    }
    &_white {
        margin: 15px;
        border-radius: 5px;
        background-color: $section-color-white;
    }
    &-title {
        text-align: center;
        font-size: 0.8rem;
    }
    &-button {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 5px;
        width: 70%;
        text-align: center;
        font-size: 1rem;
        border: 1px solid $main-color;
        border-radius: 5px;
        background-color: transparent;
        transition: 1s all;
        &:hover {
            text-decoration: none;
            background-color: $main-color;
        }
    }
    &-img-top {
        height: 133px;
    }
    &-body {
        height: 180px;
    }
    &__nav {
        position: absolute;
        top: -8px;
        right: 0px;
        transform: translateY(0);
        width: 100%;
        min-height: 400px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        z-index: 5;
        &_fix {
            position: fixed;
            width: 285px;
            top: 0px;
            right: 107px;
        }
    }
    &__subtitle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 50px;
        background-color: $section-color-black;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        &_white {
            background-color: $section-color-white;
        }
    }
    &__list {
        width: 100%;
        list-style-type: none;
        padding: 20px 0px;
        border: 1px solid $section-color-black;
        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: rgba(0, 0, 0, 0.6);
        &_white {
            background-color: rgba(255, 255, 255, 0.6);
        }
    }
    &__item {
        width: 100%;
        height: 50px;
        &:hover {
            background-color: $main-color;
        }
    }
    &__link {
        width: 100%;
        height: 100%;
        padding: 10px 0px;
        cursor: pointer;
    }
}
.card__button_category {
    display: none;
    z-index: 7;
}

.development {
    position: fixed; 
    top: 0px;
    left: 0px;
    width: 100vw; 
    height: 100vh; 
    display: flex; 
    color: red;
    background-color: black;
    justify-content: center; 
    align-items: center; 
    z-index: 6;
}