.logo {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__title {
        margin-top: 50px;
        font-family: 'Facon Regular';
        font-size: 140px;
        text-align: center;
        color: $main-color;
        text-shadow: 2px 2px 50px #000000, -2px -2px 50px #000000;
    }
}