.post {
    min-height: 200px;
    margin-top: 150px;
    padding: 60px;
    background-color: $section-color-black;
    z-index: 2;
    &::before {
        content: '';
        width: 100%;
        height: 26%;
        position: absolute;
        top: -50px;
        left: 0;
        background: linear-gradient(2deg,$section-color-black 49%,$section-color-black-before 50%);
    }
    &::after {
        content: '';
        width: 100%;
        height: 26%;
        position: absolute;
        bottom: -50px;
        left: 0;
        background: linear-gradient(2deg,$section-color-black-before 49%,$section-color-black 50%);
    }
    &__title {
        width: 100%;
        font-size: 40px;
        color: $main-color;
        text-align: center;
        text-shadow: 2px 2px 50px #000000, -2px -2px 50px #000000;
    }
    &_white {
        background-color: $section-color-white;
        &:before {
            content: '';
            width: 100%;
            height: 26%;
            position: absolute;
            top: -50px;
            left: 0;
            background: linear-gradient(2deg,$section-color-white 49%,$section-color-white-before 50%);
        }
        &::after {
            content: '';
            width: 100%;
            height: 26%;
            position: absolute;
            bottom: -50px;
            left: 0;
            background: linear-gradient(2deg,$section-color-white-before 49%,$section-color-white 50%);
        }
    }
    &__background {
        padding: 50px 20px;
        width: 100%;
        min-height: 400px;
        background-color: rgba( 0, 0, 0, 0.8);
        &_white {
            background-color: rgba( 255, 255, 255, 0.8);
        }
    }
    &__subtitle {
        text-align: center;
        font-size: 20px;
    }
    &__text {
        margin: 30px 80px;
        font-size: 20px;
        text-align: justify;
        text-indent: 60px;
    }
    &__text-center {
        margin-top: 20px;
        font-size: 20px;
        text-align: center;
    }
    &__text-code {
        margin: 30px 0px;
        font-size: 18px;
        text-align: left;
        color: #00ff0d;
        span {
            color: #0400ff;
        }
    }
    &__text-spaces {
        margin: 0;
    }
    &__img {
        margin: 50px auto;
        width: 50%;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.test__button {
    text-align: center;
    width: 100%;
    height: 100%;
    border: 2px solid $main-color;
    border-radius: 5px;
    color: $main-color;
    &:hover {
        background-color: $main-color;
    }
    a {
        display: block;
        width: 100%;
        height: 100%;
        &:hover {
            text-decoration: none;
        }
    }
}
.mt__button {
    margin-top: 10px;
}
.ya-share2 {
    display: flex;
    justify-content: center;
    align-items: center;
}