.services {
    min-height: 730px;
    margin-top: 150px;
    padding: 60px;
    background-color: $section-color-black;
    &::before {
        content: '';
        width: 100%;
        height: 7%;
        position: absolute;
        top: -50px;
        left: 0;
        background: linear-gradient(2deg,$section-color-black 49%,$section-color-black-before 50%);
    }
    &::after {
        content: '';
        width: 100%;
        height: 7%;
        position: absolute;
        bottom: -50px;
        left: 0;
        background: linear-gradient(2deg,$section-color-black-before 49%,$section-color-black 50%);
    }
    &__title {
        margin-bottom: 60px;
        width: 100%;
        text-align: center;
    }
    &_white {
        background-color: $section-color-white;
        &:before {
            content: '';
            width: 100%;
            height: 7%;
            position: absolute;
            top: -50px;
            left: 0;
            background: linear-gradient(2deg,$section-color-white 49%,$section-color-white-before 50%);
        }
        &::after {
            content: '';
            width: 100%;
            height: 7%;
            position: absolute;
            bottom: -50px;
            left: 0;
            background: linear-gradient(2deg,$section-color-white-before 49%,$section-color-white 50%);
        }
    }
    &__description {
        margin-top: 15px;
        text-align: center;
        font-size: 14px;
    }
    &__img {
        display: block;
        margin: 0 auto;
        width: 20%;
        height: 30%;
    }
}