::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,1); 
}
::-webkit-scrollbar-thumb {
    background: #ffffff; 
    box-shadow: inset 0 0 6px rgba(0,0,0,1); 
}