* {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.btn_wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 100px;
    border: 2px solid black;
}

/* Стили для кнопки с нижним подчеркиванием  */

.btn_bottom {
    width: 120px;
    height: 40px;
    background-color: transparent;
    outline: none;
    border: none;
}
.btn_bottom::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 2px;
    background-color: orange;
    transition: 0.2s all;
    z-index: -1;
}
.btn_bottom:hover::before {
    width: 140px;
    height: 100%;
}

/* Стили для кнопки с верхним подчеркиванием  */

.btn_top {
    width: 120px;
    height: 40px;
    background-color: transparent;
    outline: none;
    border: none;
}
.btn_top::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 2px;
    background-color: orange;
    transition: 0.2s all;
    z-index: -1;
}
.btn_top:hover::before {
    width: 140px;
    height: 100%;
}

/* Стили для кнопки с левым подчеркиванием  */

.btn_left {
    width: 120px;
    height: 40px;
    background-color: transparent;
    outline: none;
    border: none;
}
.btn_left::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 2px;
    height: 40px;
    background-color: orange;
    transition: 0.5s all;
    z-index: -1;
}
.btn_left:hover::before {
    width: 120px;
    height: 100%;
}

/* Стили для кнопки с правым подчеркиванием  */

.btn_right {
    width: 120px;
    height: 40px;
    background-color: transparent;
    outline: none;
    border: none;
}
.btn_right::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 2px;
    height: 40px;
    background-color: orange;
    transition: 0.5s all;
    z-index: -1;
}
.btn_right:hover::before {
    width: 120px;
    height: 100%;
}