@media (max-width: 1200px) {
    .logo__title {
        font-size: 110px;
    }
    .language {
        &__description {
            font-size: 18px;
        }
    }
    .about-me {
        &__title {
            font-size: 90px;
        }
    }
    .about {
        &::before {
            height: 11%;
        }
        &::after {
            height: 11%;
        }
        &_white {
            &:before {
                height: 11%;
            }
            &::after {
                height: 11%;
            }
        }
        &__description {
            font-size: 18px;
            span {
                font-size: 22px;
            }
        }
    }
    .card {
        &__nav {
            right: 45px;
            &_fix {
                width: 240px;
                right: 60px;
            }
        }
    }
    .services {
        &__description {
            font-size: 13px;
        }
    }
    .copyright {
        font-size: 12px;
    }
    .privacy-policy {
        font-size: 12px;
    }
    .cookie {
        &__modal {
            font-size: 10px;
        }
    }
}
    
@media (max-width: 991px) {
    .logo__title {
        font-size: 100px;
    }
    .about-me {
        &__title {
            font-size: 70px;
        }
    }
    .about {
        padding: 60px 20px;
        &::before {
            height: 12%;
        }
        &::after {
            height: 12%;
        }
        &_white {
            &:before {
                height: 12%;
            }
            &::after {
                height: 12%;
            }
        }
    }
    .card {
        &__nav {
            position: fixed;
            display: none;
            width: 30%;
            left: 50%;
            transform: translateX(-50%);
        }
        &__list {
            background-color: rgba(0, 0, 0, 1);
        }
    }
    .card__button_category {
        position: fixed;
        bottom: -55px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        padding: 20px 0px;
        text-align: center;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background-color: $main-color;
        &:hover.card__nav {
            display: block;
        }
    }
    .g-recaptcha {
        display: flex;
        justify-content: center;
    }
    .mt {
        margin-top: 30px;
    }
    .post {
        &__title {
            font-size: 30px;
        }
        &__subtitle {
            text-align: center;
            font-size: 16px;
        }
        &__text {
            margin: 30px 40px;
            font-size: 16px;
        }
        &__text-center {
            font-size: 16px;
        }
        &__text-code {
            font-size: 14px;
            text-align: left;
        }
        &__text-spaces {
            margin: 0;
        }
    }
}
   
@media (max-width: 767px) {
    .logo__title {
        font-size: 70px;
    }
    .language {
        &__titile {
            font-size: 80px;
        }
        &__general_title {
            font-size: 25px;
        }
        &__description {
            font-size: 14px;
        }
    }
    .about-me {
        &__title {
            font-size: 45px;
        }
        &__img {
            width: 30%;
            height: 30%;
        }
        &__for-me {
            font-size: 18px;
        }
        &__item {
            font-size: 14px;
        }
        &__link {
            font-size: 14px;
        }
    }
    .menu__list_item_active {
        &:nth-child(1) {
            &:before {
                opacity: 1;
                left: -75px;
            }
        }
        &:nth-child(2) {
            &:before {
                opacity: 1;
                left: -60px;
            }
        }
        &:nth-child(3) {
            &:before {
                opacity: 1;
                left: -80px;
            }
        }
        &:nth-child(4) {
            &:before {
                opacity: 1;
                left: -80px;
            }
        }
    }
    .about {
        &__title {
            font-size: 70px;
        }
        &__description {
            font-size: 14px;
            span {
                font-size: 18px;
            }
        }
    }
    .services {
        &__title {
            font-size: 25px;
        }
    }
    .feedform {
        &__title {
            font-size: 25px;
        }
    }
    .post {
        &__title {
            font-size: 25px;
        }
        &__subtitle {
            text-align: center;
            font-size: 14px;
        }
        &__text {
            font-size: 14px;
            text-indent: 30px;
        }
        &__text-center {
            font-size: 14px;
        }
        &__text-code {
            font-size: 12px;
            text-align: left;
        }
        &__text-spaces {
            margin: 0;
        }
    }
}
   
@media (max-width: 575px) {
    .logo__title {
        font-size: 40px;
    }
    .language {
        padding: 70px 20px;
        &__title {
            font-size: 50px;
        }
        &__general_title {
            font-size: 18px;
        }
        &__description {
            font-size: 12px;
            &::before {
                left: -20px;
            }
        }
    }
    .about-me {
        &__title {
            font-size: 18px;
        }
        &__img {
            padding: 2px;
        }
        &__for-me {
            font-size: 12px;
        }
        &__item {
            font-size: 10px;
        }
        &__link {
            font-size: 10px;
        }
    }
    .blog {
        &__title {
            font-size: 50px;
        }
        &::before {
            height: 29%;
        }
        &::after {
            height: 29%;
        }
        &_white {
            &:before {
                height: 29%;
            }
            &::after {
                height: 29%;
            }
        }
    }
    .about {
        padding: 60px 20px;
        &::before {
            height: 14%;
        }
        &::after {
            height: 14%;
        }
        &_white {
            &:before {
                height: 14%;
            }
            &::after {
                height: 14%;
            }
        }
        &__title {
            font-size: 40px;
        }
        &__description {
            font-size: 12px;
            span {
                font-size: 14px;
            }
            &::before {
                left: -20px;
            }
        }
    }
    .services {
        padding: 60px 10px;
        &__title {
            font-size: 18px;
        }
        &__description {
            font-size: 12px;
        }
        .mt {
            margin-top: 30px;
            &:nth-child(1) {
                margin-top: 0;
            }
        }
    }
    .feedform {
        padding: 60px 10px;
        &__title {
            font-size: 18px;
        }
        &__wrapper_checkbox {
            label {
                font-size: 10px;
            }
        }
        &__button {
            font-size: 10px;
        }
    }
    .footer {
        padding: 0px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card__nav {
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }
    .post {
        &__title {
            font-size: 20px;
        }
        &__subtitle {
            text-align: center;
            font-size: 11px;
        }
        &__text {
            margin: 30px 0px;
            font-size: 11px;
            text-indent: 15px;
        }
        &__text-center {
            font-size: 11px;
        }
        &__text-code {
            font-size: 10px;
            text-align: left;
        }
        &__text-spaces {
            margin: 0;
        }
    }
}
@media (max-width: 380px) {
    .cookie {
        &__button {
            margin-top: 30px;
            height: 40%;
        }
    }
}